@media screen and (max-width: 991.9px) {
    .container{
        padding: 0 20px;
    }
    .navbar-brand{
        img{
            max-width: 126px;
        }
    }


    .navbar-custom{
        padding: 13px 0;

        .navbar-brand{
            img{
                max-width: 126px;
            }
        }    

        .navbar-collapse{
            text-align: center;
            background-color: $section-bg;
            margin: 0 -22px 0;
            transform: translate(0, 10px);
            box-shadow: 14px 22px 40px #1e234266;
            
            
            .btn{
                margin-bottom: 60px !important;
                font-weight: 600;
                font-size: 16px;
                padding: 21px 81px;
            }    
        }

        .navbar-nav{
            padding: 34px 0 23px;
        }

        .nav-item{
            .nav-link{
                line-height: 222%;
                font-size: 24px;
                font-weight: 400;
                color: $text-cl;
                padding: 0;
                margin-bottom: 11px;
            }    
        }
    }
    .banner{
        section{
            padding: 0 !important;
        }
        .swiper-slide{
            &::before{
                content: "";
                position: absolute;
                background-color: #04051199;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                z-index: -1;
            }
        }
        .container{
            align-items: center;
            text-align: center;
            min-height: 649px;
            padding: 0 12px 54px;
        }
        &-title{
            font-size: 32px;
            max-width: 297px;
            margin-bottom: 10px;
        }
        &-description{
            font-size: 16px;
            max-width: 265px;
            margin-bottom: 15px;
        }
        .swiper-button-prev,
        .swiper-button-next{
            display: none;
        }    
    }
    .calculation{
        .calculation-img{
            display: none;
        }   
        .calculation-form{
            margin: 0 auto;
        }  
    }
    .template-title{
        h2{
            font-size: 24px;
            line-height: 124.5%;
        }
        h4{
            font-size: 16px;
            line-height: 124.5%;
        }
        &::before{
            bottom: 28px;
        }
        &.case-3{
            &::before{
                bottom: 32px;
            }
        }
    }
}
