@media (min-width: 992px) {
.banner{
    padding: 0 12px;

    .swiper-slide{
        border-radius: 20px;
        padding: 0 132px;
    }
  }
  .template-title{
    &.case-2{
        text-align: left;
        &::before{
            left: 0;
            transform: none;
        }
    }
    &.case-3{
      max-width: 715px;
      text-align: left;
      &:before{
          display: none;
      }
      h2{
          &::after{
              content: "";
              display: inline-block;
              background-color: $secondary-cl;
              width: 85px;
              height: 2px;
              margin: 10px 19px;
          }
      }
  }
  }

  #advantages{
        padding-top: 15px;
        width: calc(100% + 28px);
        margin: 0px -49px;
    .swiper-wrapper{
        flex-wrap: wrap;
    }
    .advantage{
        padding: 0 20px;
        max-width: 25%;
    }
    .swiper-pagination{
        display: none;
    }
  }


  section{
    padding: $section-padding;
  }
}

