@media screen and (max-width: 1250.9px){
    .info-start{
        .btn{
            bottom: 35px;
        }
    }

}



@media screen and (max-width: 1199.9px) {
    .navbar-custom{
        .nav-item{
            .nav-link{
                padding: 12px 18px;
            }
        } 
    }



    .delivery,
    .services{
        .swiper-carousel,
        .swiper-service{
            max-width: 750px;    
        }
        .swiper-nav{
            max-width: 942px;
        }
    }
    .questions{
        .qua-elements{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .info-start{
        .first-case{
            flex-direction: column-reverse;
            margin-bottom: 15px;
            .first-info{
                margin: 0 auto;
                text-align: start;
            }
            .img-case_1{
                margin-bottom: 20px;
                img{
                    width: 100%;
                }
            }
        }
        .second-case{
            flex-direction: column;
            .img-case_2{
                margin-bottom: 20px;
                img{
                    width: 100%;
                }
            }
            .second-info{
                margin: 0 auto;
                text-align: start;
            }
        }
        .btn{
            bottom: 0px;
            left: 382px;
        }
    }
        
    .footer-row{
            .content-box{
                padding: 0 15px;
                .page-contact{
                    margin-right: auto;
                }
                .page-nav{
                    margin: 0 auto;
                }
            }
        }
    
}

