@media screen and (max-width: 861px) {
    .delivery,
    .services{
        .swiper-carousel,
        .swiper-service{
            max-width: 360px;
            padding-bottom: 50px;
        }
        .swiper-nav{
            max-width: 552px;
        }
    }

    .info-start{
        .btn{
            left: 300px;
        }
    }
}
@media screen and (max-width: 767.9px) {
    .calculation{
        padding: 0;
        .template-title{
            padding: 55px 0 52px;
        }
       .calculation-form{
        margin: 22px auto;
        padding: 52px 30px 34px;
        .btn-lg {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 20px 16px 21px 32px;
        img{
                margin:initial;
            }
        }    
    }
    .form-row{
        flex-direction: column;
        gap: 0;
        .form-column{
            .input-box{
                .file-name{
                    top: 1px;
                }
            }
        }
    }
    .control-box{
        &:first-child{
        margin-top: 5px;  
        }
        &:last-child{
            margin-bottom: 16px;
        }
    }
    input{
        &[type="file"]
        + label{
            margin-top: 34px;
        }
    }
}   


.delivery,
.services{
    .swiper-nav{
        display: none;
    }
}



.delivery{ 
    .template-title {
      margin-bottom: 3px;
  }
  .swiper-carousel{
  .card{
      .card-option{
          margin: 0 0 26px;
      }
      .btn-row{
          .btn{
              min-width: 138px;
              padding: 13px 8px;
          }
      }
    }
  }
}  

.services{
    .template-title{
        margin-bottom: 6px;
    }
    .card{
        .card-title{
            margin-bottom: 10px;
        }
        .card-description{
            max-width: 271px;
            font-size: 14px;
        }
    }
}
.about{
    .about-all{
        .template-title{
            padding-bottom: 43px;
            &::before{
                bottom: 25px;
            }
        }
        .about-text{
            font-size: 16px;
            line-height: 149%;
            text-align: justify;
            .lower-txt{
                margin-bottom: 38px;
            }
        }
        .about-image{
            min-height: 290px;
            margin: 0 30px;
        }
    }
}


.questions{
.qua-elements{
    .questions-accordion{
        .accordion-item{
            margin-bottom: 14px;
            .accordion-body{
                padding: 0px 13px 1px 21px;        
                .accordion-text{
                font-size: 14px;
                line-height: 20px;
                margin-top: -4px;
            }
            }
        }
        .accordion-button{
            font-size: 16px;
            line-height: 20px;
            padding: 13px 18px 11px 21px;     
            &::after{
                margin-bottom: 5px;
            }   
        }
    }
    .question-form{
        .form-qua{
            .form-title{
                margin: 38px 15px 8px 15px;
                text-align: center;
            }
            .form-description{
                margin: 0 15px 23px;
                text-align: center;
            }
            .input-box{
                width: 295px;
                input{
                    padding: 17px 20px;
                }
            }
            .btn{
                padding: 19px 42px;
                margin: 0 20px 38px;
            }
        }
    }
}
}

.info-start{
    .template-title{
        margin-bottom: 13px;
    }
    .first-case{
        .img-case_1{
            margin-bottom: -68px;
        }
        .first-info{
            .info-1{
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                text-align: justify;
                margin-bottom: 21px;
            }
        }
    }
    .second-case{
        .img-case_2{
            margin-bottom: -69px;
        }
        .second-info{
            padding: 34px 9px;
            .info-2{
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                text-align: justify;
                margin-bottom: 5px;
            }
        }
    }
    li{
        &::marker{
            color: $text-cl;
        }
    }
    .btn{
        bottom: 34px;
        left: 0;
    }
    .btn-lg{
        padding: 19px 71px;
    }
}
}
