@media screen and (max-width: 861px) {
    .delivery,
    .services{
        .swiper-carousel,
        .swiper-service{
            max-width: 360px;
            padding-bottom: 50px;
        }
        .swiper-nav{
            max-width: 552px;
        }
    }
}
@media screen and (max-width: 767.9px) {
    .calculation{
        padding: 0;
        .template-title{
            padding: 55px 0 52px;
        }
       .calculation-form{
        margin: 22px auto;
        padding: 52px 30px 34px;
        .btn-lg {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 20px 16px 21px 32px;
        img{
                margin:initial;
            }
        }    
    }
    .form-row{
        flex-direction: column;
        gap: 0;
        .form-column{
            .input-box{
                .file-name{
                    top: 1px;
                }
            }
        }
    }
    .control-box{
        &:first-child{
        margin-top: 5px;  
        }
        &:last-child{
            margin-bottom: 16px;
        }
    }
    input{
        &[type="file"]
        + label{
            margin-top: 34px;
        }
    }
}   


.delivery,
.services{
    .swiper-nav{
        display: none;
    }
}



.delivery{ 
    .template-title {
      margin-bottom: 3px;
  }
  .swiper-carousel{
  .card{
      .card-option{
          margin: 0 0 26px;
      }
      .btn-row{
          .btn{
              min-width: 138px;
              padding: 13px 8px;
          }
      }
    }
  }
}  

.services{
    .template-title{
        margin-bottom: 6px;
    }
    .card{
        .card-title{
            margin-bottom: 10px;
        }
        .card-description{
            max-width: 271px;
            font-size: 14px;
        }
    }
}


}
