.advantages{
    .template-title{
        &::before{
            background-color: $primary-cl;
        }
    }
    padding-bottom: 68px;
    .row{
        padding-top: 15px;
    }
}
.advantage{
    min-height: 201px;
    text-align: center;
    min-width: 263px;    
    margin: 0 auto 26px;

    .advantage-img{
        display: inline-block;
        border: 1px solid $color-secondary;
        border-radius: 50%;
        padding: 9px;
        margin-bottom: 22px;
    }
    
    img{
        width: 93px;
        height: 93px;
        background-color: $secondary-cl;
        border-radius: 50%;
        object-fit: scale-down;
    }
}
.advantage-description{
    margin: 0;
    font-size: 18px;
    line-height: 124.5%;
    max-width: 263px;
    margin: 0 auto;
}