body{
    display: flex;
    flex-direction: column;
    background-color: $body-bg;
    min-height: 100vh;
    color: $text-cl;
}
a{
    color: $primary-cl;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}
li{
    &::marker{
        color: $primary-cl;
    }
}
ul{
    li{
        position: relative;
        &:not([class])
        &::before{
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            top: 7px;
            left: -19px;
            background-color: $primary-cl;
            transform: rotate(45deg)
        }
    }
}
.btn{
    font-size: 15px;
    border-radius: 90px;
    line-height: 146%;
    font-weight: 600;
    padding: 13px 23px;
    border: 1px solid $primary-cl;  
    
   &:hover{
    text-decoration: none;
    border: 1px solid $primary-cl;    
   }
   
    &.btn-primary{
        background-color: $primary-cl;
    }
   
   
    &.btn-primary:hover{
        background-color: transparent;
    }
   
   
    &.btn-secondary{
        background-color: transparent;
    }
        &:hover{
            background-color: $primary-cl;
    }
   
   
    &.btn-primary:active,
    &.btn-secondary:active{
    background-color: $secondary-cl;
    border-color: $secondary-cl;
    }
}
.btn img{
    width: 27px;
    height: 27px;
    margin-left: 46px;
}
.btn-lg{
    font-size: 16px;
    padding: 19px 20px;
}

.container-xxl {
    max-width: 1820px;
}
.container{
    max-width: 1164px;
  }
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border: 2px solid white;
    background-color: transparent;
    opacity: 1;
  }  
  .swiper-pagination-bullet-active{
    background-color: $text-cl;
  }
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
 .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 13px;
  }
  .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal{
    line-height: 0;
  }
  .swiper-horizontal>.swiper-pagination-bullets, 
  .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 43px;
  }
  .template-title{
    position: relative;
    text-align: center;
    padding: 48px;
    &::before{
        content: "";
        position: absolute;
        bottom: 33px;
        left: 50%;
        transform: translate(-50%, 0);
        height: 2px;
        width: 85px;
        background-color: $secondary-cl;
    }
    h2{
        font-weight: 700;
        font-size: 36px;
        line-height: 125%;
        text-transform: uppercase;
        margin-bottom: 6px;
    }
    h4{
        font-weight: 400;
        font-size: 24px
    }
    &.case-2{
        text-align: left;
        &::before{
            left: 0;
            transform: none;
        }
    }
    &.case-3{
        max-width: 715px;
        text-align: left;
        &:before{
            display: none;
        }
        h2{
            &::after{
                content: "";
                display: inline-block;
                background-color: $secondary-cl;
                width: 85px;
                height: 2px;
                margin: 12px 15px;
            }
        }
    }
  }