body{
    display: flex;
    flex-direction: column;
    background-color: $body-bg;
    min-height: 100vh;
    color: $text-cl;
}
a{
    color: $primary-cl;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}
li{
    &::marker{
        color: $primary-cl;
    }
}
ul{
    li{
        position: relative;
        &:not([class])
        &::before{
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            top: 7px;
            left: -19px;
            background-color: $primary-cl;
            transform: rotate(45deg)
        }
    }
}
.btn{
    font-size: 15px;
    border-radius: 90px;
    line-height: 146%;
    font-weight: 600;
    padding: 13px 23px;
    border: 1px solid $primary-cl;  
    
   &:hover{
    text-decoration: none;
    border: 1px solid $primary-cl;    
   }
   
    &.btn-primary{
        background-color: $primary-cl;
    }
   
   
    &.btn-primary:hover{
        background-color: transparent;
    }
   
   
    &.btn-secondary{
        background-color: transparent;
    }
        &:hover{
            background-color: $primary-cl;
    }
   
   
    &.btn-primary:active,
    &.btn-secondary:active{
    background-color: $secondary-cl;
    border-color: $secondary-cl;
    }
}
.btn img{
    width: 27px;
    height: 27px;
    margin-left: 46px;
}
.btn-lg{
    font-size: 16px;
    padding: 19px 20px;
}

.container-xxl {
    max-width: 1820px;
}
.container{
    max-width: 1164px;
  }
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border: 2px solid white;
    background-color: transparent;
    opacity: 1;
  }  
  .swiper-pagination-bullet-active{
    background-color: $text-cl;
  }
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
 .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 13px;
  }
  .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal{
    line-height: 0;
  }
  .swiper-horizontal>.swiper-pagination-bullets, 
  .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 43px;
  }
  .template-title{
    position: relative;
    text-align: center;
    padding: 48px;
    &::before{
        content: "";
        position: absolute;
        bottom: 33px;
        left: 50%;
        transform: translate(-50%, 0);
        height: 2px;
        width: 85px;
        background-color: $secondary-cl;
    }
    h2{
        font-weight: 700;
        font-size: 36px;
        line-height: 125%;
        text-transform: uppercase;
        margin-bottom: 6px;
    }
    h4{
        font-weight: 400;
        font-size: 24px
    }
    &.case-2{
        text-align: left;
        &::before{
            left: 0;
            transform: none;
        }
    }
    &.case-3{
        max-width: 715px;
        text-align: left;
        &:before{
            display: none;
        }
        h2{
            &::after{
                content: "";
                display: inline-block;
                background-color: $secondary-cl;
                width: 85px;
                height: 2px;
                margin: 12px 15px;
            }
        }
    }
  }



  [type="checkbox"],
  [type="file"]{
    display: none;
  }

  input{
    &[type="checkbox"]{
        + label{
            padding-left: 33px;
            line-height: 126%;
            font-weight: 600;
            font-size: 15px;
            cursor: pointer;
            &::before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 24px;
                height: 24px;
                background-color: $text-cl;
                border-radius: 4px;
                border: 1px solid $body-bg;
            }
            &:hover{
                &::before{
                    border-color: $primary-cl;
                }
            }
            &:focus,
            &:active{
                &::before{
                    border-color: $secondary-cl;
                }
            }
        }
        &:checked{
           + label{
                &::before{
                    background: url('assets/img/icon-checked.svg') center no-repeat $text-cl;
                }
            }
        }
    }
}
input[type="file"] + label{
    text-align: center;
    padding: 11px;
    margin-top: 46px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23FFFFFF42' stroke-width='1' stroke-dasharray='3 %2c 3' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 10px;
    background-position: center;
    &:hover{
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23E58D35' stroke-width='1' stroke-dasharray='3 %2c 3' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    }
    &:focus,
    &:active{
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%2389C249' stroke-width='1' stroke-dasharray='3 %2c 3' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e"); 
        color:$secondary-cl;
    }
}
.fill-name{
    position: absolute;
    font-size: 15px;
    font-weight: 400;
    line-height: 126%;
    top: 12px;
    left: 0;
}





input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance: textfield;
}