 .questions{
    .qua-elements{
        display: flex;
        gap: 34px;
    .template-title{
        margin-bottom: 9px;
    }
  }
}
 
 
 
 .questions-accordion{
    max-width: 716px;
    width: 100%;
        .accordion{
            .accordion-item{
                box-shadow: none;
                border: 1px solid $color-secondary;
                border-radius: 10px;        
                background-color: $text-cl;
                margin-bottom: 14px;
                overflow: hidden;
                .accordion-text{
                    font-size: 17px;
                    font-weight: 300;
                    line-height: 24px;
                    color: $body-bg;
                    margin-top: -7px;
                }
            }
            .accordion-button:not(.collapsed){
                background-color: $text-cl;
                color: $body-bg;
                transition: 0.2s;
            }
            .accordion-button{
                background-color: $body-bg;
                color: $text-cl;
                box-shadow: none;
                padding: 19px 16px 18px 35px;
                font-size: 18px;
                font-weight: 700;
                line-height: 22px;
                &::after{
                    content: "";
                    background: url(../assets/img/arrow-close-1.svg) center no-repeat;
                    width: 27px;
                    height: 27px;
                }
            }
            .accordion-button:not(.collapsed){
                background-color: $text-cl;
                color: $body-bg;
            }    
            .accordion-button:not(.collapsed)::after {
                background: url(../assets/img/arrow-open-1.svg) center no-repeat;
                transform: rotate(360deg);
                transition: 0.4s ;
            }    
            .accordion-body {
                padding: 2px 30px 6px 37px
        }
    }    
 }

 
 .question-form{
     display: flex;
     flex-direction: column;
     justify-content: center;
    .form-qua{
        max-width: 390px;
        max-height: 553px;
        background-color: $section-bg;
        border-radius: 20px;
        .form-title{
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
            margin: 39px 45px 17px 42px;
        }
        .form-description{
            font-size: 17px;
            font-weight: 300;
            line-height: 21px;
            margin: -10px 45px 23px 42px;
        }
        .input-box,
        .input-box-lg{
            margin-bottom: 14px;
            max-width: 310px;
            margin-left: auto;
            margin-right: auto;
            input{
                padding: 17px 10px;
            }
        }
        .input-box-lg{
            margin-bottom: 25px;
            input{
                padding: 24px 10px;
            }
        }
        .btn{
            margin: 0 40px 38px;
            padding: 20px 49px;
        }
    }

 }