<section class="advantages bg-section">
    <div class="container">
        <div class="template-title">
            <h2>Почему стоит выбрать именно нас?</h2>
        </div>
        <div class="swiper" id="advantages">
        <div class="swiper-wrapper">
            <div class="advantage swiper-slide">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-1.svg" alt="advantages">
                    </div>
                        <h6 class="advantage-description">Таможенное оформление груза</h6>
            </div>
            <div class="advantage swiper-slide">
                    <div class="advantage-img">
                        <img src="assets/img/check-mark.svg" alt="advantages">
                    </div>
                        <h6 class="advantage-description">Страховка груза</h6>                   
            </div>
            <div class="advantage swiper-slide">
                    <div class="advantage-img">
                        <img src="assets/img/magnifying-glass.svg" alt="advantages">
                    </div>
                        <h6 class="advantage-description">Проверка товара на брак</h6>                   
            </div>
            <div class="advantage swiper-slide">                
                <div class="advantage-img">
                    <img src="assets/img/delivery-truck.svg" alt="advantages">
                </div>
                    <h6 class="advantage-description">Доставка в любой город Украины</h6>                   
            </div>
            <div class="advantage swiper-slide">
                    <div class="advantage-img">
                        <img src="assets/img/speech-bubble.svg" alt="advantages">
                    </div>    
                        <h6 class="advantage-description">Консолидация на складе</h6>               
            </div>        
            <div class="advantage swiper-slide">                
                 <div class="advantage-img">
                    <img src="assets/img/like.svg" alt="advantages">
                </div>    
                    <h6 class="advantage-description">Ответственное хранение груза</h6>                   
            </div>
            <div class="advantage swiper-slide">
                    <div class="advantage-img">
                        <img src="assets/img/credit-card.svg" alt="advantages">
                    </div>    
                        <h6 class="advantage-description">Помощь в оплате товара</h6>                   
            </div>
            <div class="advantage swiper-slide">
                    <div class="advantage-img">
                        <img src="assets/img/stack.svg" alt="advantages">
                    </div>    
                        <h6 class="advantage-description">Упаковка, переупаковка, паллетирование груза к международной перевозке</h6>                   
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="swiper-pagination"></div>
    </div>
</section>