<section class="advantages bg-section">
    <div class="container">
        <div class="template-title">
            <h2>Почему стоит выбрать именно нас?</h2>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt nemo ut vero numquam accusantium aut architecto. Repudiandae, laboriosam. Porro amet nemo veritatis quo, suscipit quidem aliquam laboriosam facere consequuntur. Dolorum?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt nemo ut vero numquam accusantium aut architecto. Repudiandae, laboriosam. Porro amet nemo veritatis quo, suscipit quidem aliquam laboriosam facere consequuntur. Dolorum?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt nemo ut vero numquam accusantium aut architecto. Repudiandae, laboriosam. Porro amet nemo veritatis quo, suscipit quidem aliquam laboriosam facere consequuntur. Dolorum?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt nemo ut vero numquam accusantium aut architecto. Repudiandae, laboriosam. Porro amet nemo veritatis quo, suscipit quidem aliquam laboriosam facere consequuntur. Dolorum?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt nemo ut vero numquam accusantium aut architecto. Repudiandae, laboriosam. Porro amet nemo veritatis quo, suscipit quidem aliquam laboriosam facere consequuntur. Dolorum?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt nemo ut vero numquam accusantium aut architecto. Repudiandae, laboriosam. Porro amet nemo veritatis quo, suscipit quidem aliquam laboriosam facere consequuntur. Dolorum?</p>
    </div>
</section>