<footer>
	<div class="container">
		<div class="footer-row">
			<div class="content-box">
				<div class="page-contact">
					<a href="#">
						<img class="img-contact" src="assets/img/logo-footer.png" alt="footer">
					</a>
					<ul class="info-back">
						<li class="info-list">8(800)600-18-69</li>
						<li class="info-list">info@cargoasia.info</li>
						<li class="info-list">Адрес в Китае:</li>
						<li class="info-list">浙江省金华市义乌市后宅街道洪华小区5</li>
						<li class="info-list">栋一单元一楼RT789库房</li>				
						<li class="info-list">电话15966660379</li>
					</ul>
					<div class="footer-link">
						<a href="#">
							<img src="assets/img/nav-ins.png" alt="nav">
						</a>
						<a href="#">
							<img src="assets/img/nav-vk.png" alt="nav">
						</a>
						<a href="#">
							<img src="assets/img/nav-tg.png" alt="nav">
						</a>
					</div>					
				</div>
				<div class="page-nav">
					<h6 class="nav-title">Грузоперевозки</h6>
					<ul class="nav-list">
						<li class="list-nav">Цены и сроки</li>
						<li class="list-nav">Услуги</li>
						<li class="list-nav">О компании</li>
						<li class="list-nav">Контакты</li>					
						<li class="list-nav">Оформить груз</li>
					</ul>				
				</div>	
				<div class="page-nav">
					<h6 class="nav-title">Услуги</h6>
					<ul class="nav-list">
						<li class="list-nav">Выкуп товара</li>
						<li class="list-nav">Страховка груза</li>
						<li class="list-nav">Аренда склада</li>
						<li class="list-nav">Перевод денежных средств</li>					
					</ul>								
				</div>			
				<div class="page-nav">
					<h6 class="nav-title">Информация</h6>
					<ul class="nav-list">
						<li class="list-nav">Отзывы</li>
						<li class="list-nav">Требования к грузу</li>
						<li class="list-nav">Договор-оферта</li>
						<li class="list-nav">Как заключить договор</li>					
						<li class="list-nav">Способы оплаты услуг</li>
						<li class="list-nav">Документы</li>
						<li class="list-nav">Статьи</li>
					</ul>								
				</div>					
			</div>
		</div>
	</div>




</footer>
<a href="markup.html" style="position: fixed; left: 25px; bottom: 25px;">markup</a>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/swiper-bundle.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>
