<section class="info-start bg-section">
    <div class="container">
        <div class="template-title">
            <h2>Готовы к сотрудничеству?</h2>
            <h4>Зарегистрируйте груз!</h4>
        </div>
        <div class="first-case">
        <ul class="first-info">
            <li class="info-1">Для того, чтобы начать сотрудничество, необходимо оформить груз указав информацию о содержимом груза, его стоимость и количество. А так-же прикрепив фотографии к заявке.</li>
            <li class="info-1">Если требуется проверка товара на соответсвие количеству, то при оформлении груза на нашем сайте укажите это в графе "Примечание". Данная услуга платная и составляет 3 юаня за одну позицию в заказе. Любые дополнительные проверки груза обсуждаются индивидуально в том числе и их стоимость.</li>
            <li class="info-1">До отправки груза на наш склад в Китае обязательно позаботьтесь о том, чтобы сделать маркировку, с номером Вашего заказа у нас на сайте, для каждой внешней коробки, чтобы мы смогли определить именно Ваш груз. Если у Вас нет возможности сделать это самостоятельно, то попросите об этом своего поставщика.</li>
        </ul>
        <div class="img-case_1">
            <!-- <img src="assets/img/info-img-1.png" alt="info"> -->
             <picture>
                <source srcset="assets/img/mobile-info-1.png" media="(max-width: 767.9px)">
                <img src="assets/img/info-img-1.png">
             </picture>
        </div>
        </div>
        <div class="second-case">
            <div class="img-case_2">
                <picture>
                    <source srcset="assets/img/mobile-info-2.png" media="(max-width: 767.9px)">
                    <img src="assets/img/info-img-2.png">
                </picture>
            </div>
            <ul class="second-info">
                <li class="info-2">После отправки груза на наш склад в Китае, Вам обязательно нужно указать трек-номер для отслеживания посылок по Китаю для каждой позиции в заказе. Внести трек-номер можно на странице заказа. Трек-номер - это ещё одна мера для идентификации Вашего груза на нашем складе. </li>
                <li class="info-2">Если Вы оформили груз по нашей инструкции и сделали все правильно, то при получении Вашего груза на складе в Китае статус заказа изменится на "На складе".</li>
            </ul>
        </div>
        <button class="btn btn-primary btn-lg">Оформить груз<img src="assets/img/arrow-circle-left.svg" alt="arrow-left"></button>
    </div>
</section>


